/*
	Base Styles...
*/
*
*:before
*:after
	boz-sizing border-box

body
	font 16px/1.2 'Roboto Slab', serif
	background orchid
	color #333

a 
	text-decoration none

p
	font-size 1.4em
	text-align center
	
h1
	font-size 3.5em
	font-family 'Roboto Slab', serif
	text-align center
	
	color white
	
	span
		display block
		color magenta

h2
	font-size 2.5em
	
	@media(max-width: 667px)
		font-size 1.5em

h3
	font-size 2em
	
	@media(max-width: 667px)
		font-size 1em

h2
h3
	text-align center
	font-weight 500

form
	display flex
	

#quiz	
	width 70%
	margin 30px auto
	padding 2em 0
	
	background snow
	box-shadow -10px 0 magenta
	
	@media(max-width: 667px)
		width 95%

.awesome-text
	font-weight 400
	text-shadow 3px 3px 3px rgba(0,0,0, .6)
	
.option
	width 115px
	margin .5em auto
	
	label
		margin-left .25em

.btn
	display block
	width 53px
	margin 0 auto 2em auto	
	padding 1em 3em
	font-weight 400

	cursor pointer
	color white
	background magenta
	border-radius 7px
	border 1px solid magenta
	transition all .5s ease-in
	
	&:hover
		background white
		color magenta

.btn-small
	width 115px
	margin 1em auto
	padding 0.5em 1.5em
	
	text-align center

.small-text
	font-family 'Roboto Slab', serif
	font-size 2.8em
	font-weight 100

.answer
	margin .75em 0
	
.question-alert
	display none
	position absolute
	bottom 25px
	left 50%
	transform translateX(-50%)
	max-width 160px
	padding 10px
	
	color white
	background magenta
	border-radius 7px
	font-size .9em